@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  html {
    font-size: 62.5%;
    scroll-padding-top: 77.5px; /* height of your navbar */
  }
  p {
    @apply mb-4;
    @apply text-l md:text-xl;
  }
  h1 {
    @apply text-5xl;
    @apply pb-4;
  }
  h2 {
    @apply text-4xl;
    @apply pb-4;
  }
  h3 {
    @apply text-3xl;
    @apply pb-4;
  }
  h4 {
    @apply text-2xl;
    @apply pb-4;
  }
  h5 {
    @apply text-xl;
    @apply pb-4;
  }
  h6 {
    @apply text-l;
    @apply pb-4;
  }
  .word-spacing-l {
    word-spacing: 3px;
  }
  .is-hover-light {
    @apply text-orange;
  }
  .is-hover-dark {
    @apply text-orangeDark;
  }
  .item-enter {
    animation: itemAnimation 1s ease-out;
  }
  .light .active-scroll-spy {
    @apply text-orange;
  }
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    @apply bg-green200 text-white;
  }

  input[type="radio"]:not(:checked) + label,
  input[type="checkbox"]:not(:checked) + label {
    @apply bg-gray;
  }

  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
.morphAnimation {
  animation: morph 8s ease-in-out infinite;
}
.spinSlow {
  animation: spinSlow 12s linear infinite;
}
@keyframes itemAnimation {
  from {
    opacity: 0.04;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes spinSlow {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
